:root {
    --red: red;
    --orange: orange;  
    --yellow: yellow;
    --green: green;
    --blue: blue;
    --navy: navy;
    --purple: purple;
    --group: red, orange, yellow, green, blue, navy, purple;
}
